body a {
  text-decoration: none;
}
body header {
  width: 100%;
  height: 1065px;
  background-image: url(./img/BG.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
body header .header-container {
  margin-left: 292px;
}
body header .header-container .first-header-block {
  padding-top: 63px;
  display: flex;
}
body header .header-container .first-header-block .logo {
  color: white;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}
body header .header-container .first-header-block nav .header-nav {
  margin-left: 42px;
}
body header .header-container .first-header-block nav .header-nav .header-list-container {
  display: flex;
}
body header .header-container .first-header-block nav .header-nav .header-list-container .header-list a {
  color: white;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-left: 70px;
}
body header .header-container .first-header-block .header-registration {
  display: flex;
  margin-left: 224px;
}
body header .header-container .first-header-block .header-registration p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 16px;
  color: white;
}
body header .header-container .first-header-block .sign-header {
  width: 132px;
  height: 36px;
  background-color: white;
  margin-left: 26px;
  border-radius: 36px;
  margin-top: -10px;
  border: none;
}
body header .header-container .first-header-block .sign-header a {
  color: #BB6DF3;
}
body header .header-container .second-header-container .header-text-container {
  color: #3B668D;
  margin-top: 189px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 70px;
  margin-left: -390px;
}
body header .header-container .second-header-container .online-storage-text {
  color: #3B668D;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  margin-left: 80px;
  margin-top: -30px;
}
body header .header-container .second-header-container .online-storage-text .header-hr {
  width: 506px;
  margin-left: -105px;
}
body header .header-container .second-header-container .online-storage-text .header-store-text {
  margin-top: 25px;
  margin-left: -90px;
}
body header .header-container .second-header-container .online-storage-text .upload-pre-text {
  margin-top: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  margin-left: -180px;
  margin-top: 15px;
}
body header .header-container .second-header-container .online-storage-text .header-pretty-button {
  background: linear-gradient(135.76deg, #9584FF 20.74%, #B556FF 76.27%);
  width: 304px;
  height: 75px;
  border-radius: 45px;
  margin-top: 30px;
  margin-left: -60px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
body header .header-container .second-header-container .online-storage-text .header-pretty-button a {
  position: absolute;
  color: white;
}
body header .header-container .second-header-container .online-storage-text .first-header-round-for-button {
  width: 106px;
  height: 106px;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 50px;
  margin-top: 85px;
  margin-left: 210px;
}
body header .header-container .second-header-container .online-storage-text .second-header-round-for-button {
  border-radius: 85px;
  background: rgba(255, 255, 255, 0.2);
  width: 106px;
  height: 106px;
  border-radius: 50px;
  margin-left: -240px;
  margin-top: -60px;
  position: absolute;
}
body header .header-container .second-header-container .online-storage-text .second-header-round-for-button .third-header-round-for-button {
  width: 56.37px;
  height: 56px;
  left: 21.13px;
  top: -30px;
  background: rgba(255, 255, 255, 0.32);
  border-radius: 85px;
  margin-left: 30px;
  margin-top: 20px;
}
body main .main-up-block-img {
  margin-left: -50px;
}
body main .main-up-block {
  display: flex;
}
body main .main-up-block .main-up-blocks {
  margin-top: 200px;
}
body main .main-up-block ul li .content .main-p {
  color: #3B668D;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
}
body main .main-up-block ul li .content .content-p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  width: 438px;
  color: #2B4964;
}
body main .main-up-block ul li .icons {
  margin-top: -10px;
  margin-left: -150px;
  position: absolute;
  display: flex;
}
body main .main-up-block ul li .icons .plus-icon {
  margin-top: 15px;
  margin-left: -75px;
  width: 82px;
  height: 62px;
}
body main .main-up-block ul li .icons .icon-bg {
  width: 94px;
  height: 91px;
}
body main .main-up-block ul li .icons .icon-content {
  width: 42px;
  height: 42px;
  margin-top: 25px;
  margin-left: -70px;
}
body main .middleMain .middleMain-text .m-main-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  letter-spacing: 0.285em;
  text-transform: uppercase;
  color: #3B668D;
}
body main .middleMain .middleMain-text .m-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #79788F;
}
body main .middleMain .buy-container {
  display: flex;
}
body main .middleMain .buy-container img {
  margin-top: 200px;
}
body main .middleMain .buy-container .buy-cont-wrapper {
  display: flex;
  justify-content: space-around;
}
body main .middleMain .buy-container .buy-cont-wrapper .cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .middleMain .buy-container .buy-cont-wrapper .cont ul {
  margin-top: 194px;
}
body main .middleMain .buy-container .buy-cont-wrapper .cont ul li {
  margin-top: 20px;
  display: flex;
  color: #567796;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
}
body main .middleMain .buy-container .buy-cont-wrapper .cont ul li svg {
  margin-left: 200px;
  position: absolute;
}
body main .middleMain .buy-container .buy-cont-wrapper .days {
  color: #3B668D;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 54px;
}
body main .middleMain .buy-container .buy-cont-wrapper .sum {
  margin-top: 20px;
  color: #8572FF;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 71px;
}
body main .middleMain .buy-container .first-buy-container {
  margin-top: 300px;
  width: 350px;
  height: 844px;
  margin-left: -165px;
}
body main .middleMain .buy-container .first-buy-container img {
  margin-top: -0.1px;
  margin-left: -45px;
}
body main .middleMain .buy-container .second-buy-container {
  width: 480px;
  height: 1013px;
  margin-top: 200px;
  margin-left: 65px;
}
body main .middleMain .buy-container .second-buy-container .second-cont-button {
  margin-top: 108px;
  width: 308px;
  height: 79px;
  background: linear-gradient(90deg, #43A1D6 0%, #907EFF 100%);
  border-radius: 62px;
  border: none;
  color: #FFFFFF;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
}
body main .middleMain .buy-container .second-buy-container .guarantee {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #567796;
  margin-top: 50px;
}
body main .middleMain .buy-container .second-buy-container .dayz {
  margin-top: 20px;
}
body main .middleMain .buy-container .second-buy-container .popul {
  margin-top: 150px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}
body main .middleMain .buy-container .second-buy-container img {
  margin-top: 0.1px;
  width: 500px;
  margin-left: 20px;
  position: absolute;
}
body main .middleMain .buy-container .third-buy-container {
  margin-left: 60px;
  width: 350px;
  height: 864px;
  margin-top: 300px;
}
body main .middleMain .buy-container .third-buy-container .dayt {
  margin-top: 150px;
}
body main .middleMain .buy-container .third-buy-container img {
  margin-top: -0.1px;
  width: 350px;
  position: absolute;
}
body main .underMain {
  margin-top: 200px;
  display: flex;
}
body main .underMain .underMain-block svg {
  position: absolute;
}
body main .underMain .underMain-block .underMain-text {
  margin-left: 120px;
}
body main .underMain .underMain-block .underMain-number {
  color: #425B8C;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 47px;
}
body main .underMain .underMain-block .downloaded {
  color: #718DC2;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
}
body main .underMain .first-under-block {
  margin-left: 102px;
  display: flex;
  width: 400px;
}
body main .underMain .second-under-block {
  display: flex;
  margin-left: 60px;
}
body main .underMain .group-bg {
  position: absolute;
  margin-left: 710px;
}
body footer {
  background-image: url(./img/BG\(6\).png);
  width: 100%;
  height: 1085px;
  margin-top: 245px;
  position: absolute;
}
body footer .upper-footer {
  margin-top: 400px;
  margin-left: 50px;
  display: flex;
}
body footer .upper-footer .about .about-us {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
  color: white;
  margin-bottom: 70px;
}
body footer .upper-footer .about .first-many-information {
  width: 418px;
  color: white;
}
body footer .upper-footer .featured {
  margin-left: 70px;
}
body footer .upper-footer .featured ul .feature {
  color: white;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
}
body footer .upper-footer .featured ul li {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin-top: 20px;
  color: white;
}
body footer .upper-footer .featured ul li a {
  color: white;
}
body footer .upper-footer .contact {
  margin-left: 170px;
}
body footer .upper-footer .contact ul .contact-us {
  color: white;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
}
body footer .upper-footer .contact ul li {
  color: white;
  margin-top: 20px;
}
body footer .bottom-footer .hrr {
  margin-top: 100px;
  color: #FFFFFF;
  width: 90%;
}
body footer .bottom-footer p {
  color: white;
  text-align: center;
  margin-top: 165px;
}/*# sourceMappingURL=style.css.map */